<!DOCTYPE html>
<html>
<head>
	<title>Create a Project</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="css/hover_pack.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/colors/color-74c9be.css" rel="stylesheet">    
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
    </style>
</head>
<body>
	<% include navbar %>

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <legend>Post a New Project</legend>
            <form action="/createproject" method="post" id="myform">
                <div class="form-group title">
                    <label>Title of Project</label>
                    <input type="text" class="form-control required" name="title" id="title"></input>
                </div>
                <div class="form-group description" style="display: none">
                    <label>Description of Project</label>
                    <textarea rows="5" class="form-control required" name="description" style="resize:vertical;min-height:2em"></textarea>
                </div>
                <div class="form-group positionName" style="display: none">
                    <label>Name of Position (ex. Web Developer)</label>
                    <input type="text" class="form-control required" name="positionName"></input>
                </div>
                <div class="form-group numPositions" style="display: none">
                    <label>Number of Positions</label>
                    <input type="text" class="form-control required" name="numPositions"></input>
                </div>
                <div class="form-group timeRequired" style="display: none">
                    <label>Time Required for Position (ex. 15 days)</label>
                    <input type="text" class="form-control required" name="timeRequired"></input>
                </div>
                <div class="form-group startDate required" style="display: none">
              </head>
              <body>
                <label>Start Date</label>
                <input type="text" id= "datepicker" class="form-control required" name="startDate"></input>
            </div>

            <button type="submit" class="btn btn-warning btn-lg submit" style="display: none">Submit</button>
        </form>
    </div>


</div>


<script src="/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/retina.js"></script>

<script>
    $(document).ready(function(){
        $( "#datepicker" ).datepicker();

        $( "#myform" ).validate({
            rules: {
                numPositions: {
                    number: true
                }
            }
        });

        $("#title").keyup(function(){
            $(".description").show("fast", function(){
                $(".positionName").show("fast", function(){
                    $(".numPositions").show("fast", function(){
                     $(".timeRequired").show("fast", function(){
                        $(".startDate").show("fast", function(){
                            $(".submit").show("fast");
                        }); 
                    }); 
                 });
                });
            });
        }); 

    });

</script>
</body>