<!DOCTYPE html>
<html>
<head>
	<title>Add Skills</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <link href="css/hover_pack.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/colors/color-74c9be.css" rel="stylesheet">    
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<% include navbar %>



	
	<script src="js/bootstrap.min.js"></script>
    <script src="js/retina.js"></script>
</body>