<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>WhiteBoard</title>

    <link href="css/hover_pack.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/colors/color-74c9be.css" rel="stylesheet">    
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    
    <!-- JavaScripts needed at the beginning
    ================================================== -->
  

    <!-- MAP SCRIPT - ALL CONFIGURATION IS PLACED HERE - VIEW OUR DOCUMENTATION FOR FURTHER INFORMATION -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/hover_pack.js"></script>
    


  </head>

  <body style="padding-top:0px">


    
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown"><span class="fa fa-pencil-square-o"></span>&nbsp;WhiteBoard</h1>

                    <h2 class="animation slideDown">Search. Connect. Create.</h2>
                    <br>
                    <!-- <h2 class="animation slideDown">Search. Connect. Create.</h2> -->
                    <!-- <p class="mt"><a href = "/auth/facebook"><button type="button" class="btn btn-cta btn-lg">SIGN IN WITH FACEBOOK</button></a></p> -->
                    <h3> <span class =  "green"> You have successfully been logged out! </h3>
                </div>
                
            </div><!-- /row -->
        </div><!-- /container -->
    </div> <!-- /headerwrap -->

        



      
    <div id="cta-01">
        <div class="container">
            <div class="row centered">
                <a href="/"><h4>Want to log in again? Click here...</h4></a>
            </div>
        </div><!-- /container -->
    </div><!-- /cta-bar -->
    
       
    
    <div id="f">
        <div class="container">
            <!--<div class="row">
               
            <div class="col-lg-5">-->
                <div class = "page-header">
                    <h2>The Team</h2>
                </div>
                <div class = "row">
                    <div class = "col-xs-3">
                        <p><strong>Sahil Jain</strong> <br>
                        Lead Back-end & Database Developer
                        <ul>
                            <li><div class="fa fa-globe" style="font-size:15px">  <a href = "http://sahiljain.ca/" target = "_blank">Website</a></div></li>
                            <li><div class="fa fa-github" style="font-size:15px">  <a href = "https://github.com/sahiljain" target = "_blank">Github</a></div></li>
                            <li><div class="fa fa-twitter" style="font-size:15px">  <a href = "https://twitter.com/_Sahil_Jain" target = "_blank">Twitter</a></div></li>
                        </ul>
                        </p>
                    </div>
                    <div class = "col-xs-3">
                        <p><strong>Ayush Bhagat</strong> <br>
                        Database Design & UI Engineer
                        <ul>
                            <li><div class="fa fa-github" style="font-size:15px">  <a href = "https://github.com/ayushbhagat" target = "_blank">Github</a></div></li>
                        </ul>
                        </p>
                    </div>
                    <div class = "col-xs-3">
                        <p><strong>Aditya Sridhar</strong> <br>
                        Back-end & Front-end Developer
                        <ul>
                            <li><div class="fa fa-globe" style="font-size:15px">  <a href = "http://www.addysridhar.com/" target = "_blank">Website</a><div></li>
                            <li><div class="fa fa-github" style="font-size:15px">  <a href = "https://github.com/AddySridhar95" target = "_blank">Github</a></div></li>
                            <li><div class="fa fa-twitter" style="font-size:15px">  <a href = "https://twitter.com/AddySridhar" target = "_blank">Twitter</a></div></li>
                        </ul>
                        </p>
                    </div>
                    <div class = "col-xs-3">
                        <p><strong>Kaivalya Gandhi</strong> <br>
                        Front-end Assistant Developer
                        <ul>
                            <li><div class="fa fa-github" style="font-size:15px">  <a href = "https://github.com/kaivalyagandhi" target = "_blank">Github</a></div></li>
                        </ul>   
                    </p>
                    </div>
                </div>
                <!--
                <div class = "row">
                

                    <div class="col-xs-6">
                        <h4>Recent Tweets</h4>
                        <p>Follow us <b>@UWDogWalkers</b></p>
                    </div>




                    <div class="col-xs-6">
                        <h4>UW Dog Walkers on Github</h4>


                        <a href="#"><img class="img-responsive" width="75" height="75" src="img/github.png" alt="" /></a> 
                    </div>

                </div> 
                -->
            </div>
        </div>
    </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina.js"></script>


    <script>
        $(window).scroll(function() {
            $('.si').each(function(){
            var imagePos = $(this).offset().top;
    
            var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+400) {
                    $(this).addClass("slideUp");
                }
            });
        });
    </script>    



  
  </body>
</html>
