<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>WhiteBoard</title>

    <link href="css/hover_pack.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/colors/color-74c9be.css" rel="stylesheet">    
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    
    <!-- JavaScripts needed at the beginning
    ================================================== -->
  

    <!-- MAP SCRIPT - ALL CONFIGURATION IS PLACED HERE - VIEW OUR DOCUMENTATION FOR FURTHER INFORMATION -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/hover_pack.js"></script>
    


  </head>

  <body style="padding-top:0px">


    
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown"><span class="fa fa-pencil-square-o"></span><span class = "grey"> White</span>Board</h1>
                    <!-- <h2 class="animation slideDown">Search. Connect. Create.</h2> -->
                    <!-- <p class="mt"><a href = "/auth/facebook"><button type="button" class="btn btn-cta btn-lg">SIGN IN WITH FACEBOOK</button></a></p> -->
                    <h3> <span class = "oldlace"> You have successfully been logged out! </h3>
                </div>
                
            </div><!-- /row -->
        </div><!-- /container -->
    </div> <!-- /headerwrap -->

        



      
    <div id="cta-01">
        <div class="container">
            <div class="row centered">
                <a href="/"><h4>Want to log in again? Click here...</h4></a>
            </div>
        </div><!-- /container -->
    </div><!-- /cta-bar -->
    
       
    
    <div id="f">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-5">
                    <h4>The Team</h4>
                    <p>
                        Sahil Jain (Lead Back-end & Database Developer)<br/>
                        Ayush Bhagat (Database Design & UI Engineer)<br/>
                        Aditya Sridhar (Back-end & Front-end Developer)<br/>
                        Kaivalya Gandhi (Front-end Assistant Developer & Consultant)<br/>
                    </p>
                    <p>
                        <!-- <i class="fa fa-mobile"></i> +55 4893.8943<br/> -->
                        <i class="fa fa-envelope-o"></i> contact@uwdogwalkers.com
                    </p>
                </div>
                
               
                <div class="col-lg-3">
                    <h4>Recent Tweets</h4>
                    <p>Follow us <b>@UWDogWalkers</b></p>
                </div>
                

                
               
                <div class="col-lg-3">
                    <h4>UW Dog Walkers on Github</h4>
                    

                    <a href="#"><img class="img-responsive" width="75" height="75" src="img/github.png" alt="" /></a> 
                </div>
                
                
            </div>
        </div>
    </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina.js"></script>


    <script>
        $(window).scroll(function() {
            $('.si').each(function(){
            var imagePos = $(this).offset().top;
    
            var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+400) {
                    $(this).addClass("slideUp");
                }
            });
        });
    </script>    



  
  </body>
</html>
