.grey
{
	color: #CCCCCE;
}
.green
{
	color: #5CE62E;
}
body
{
	padding-top: 70px;
}
.right
{
	float: right;
	color: black;
}
.author
{
	color: #AAAAB3;
	float: left;
	vertical-align: bottom;
	display: inline-block;
}

.btn-sm
{
	float: right;
	vertical-align: center;
	display: inline-block;
}

.list
{
	padding-left: 20px;
}

.profile-pic{
	max-width: 300px;

}